.component {
  font-size: 12px;
  border-radius: var(--default-border-radius);
  padding: var(--default-padding);
  // width: calc(100% - (var(--default-padding) * 2));
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}

.border {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #dbdbdb !important;
}

.withoutBorder {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-style: solid !important;
  border-bottom-width: var(--default-border) !important;
  border-bottom-color: var(--default-shadow-color) !important;
  border-radius: 0;
}

.label {
  color: var(--primary);
}

.disabled {
  background: rgba(230, 230, 230, 0.01);
  background: -moz-linear-gradient(
    top,
    rgba(230, 230, 230, 0.01) 0%,
    rgba(230, 230, 230, 0.92) 53%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(230, 230, 230, 0.01)),
    color-stop(53%, rgba(230, 230, 230, 0.92)),
    color-stop(100%, rgba(230, 230, 230, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(230, 230, 230, 0.01) 0%,
    rgba(230, 230, 230, 0.92) 53%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(230, 230, 230, 0.01) 0%,
    rgba(230, 230, 230, 0.92) 53%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(230, 230, 230, 0.01) 0%,
    rgba(230, 230, 230, 0.92) 53%,
    rgba(230, 230, 230, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(230, 230, 230, 0.01) 0%,
    rgba(230, 230, 230, 0.92) 53%,
    rgba(230, 230, 230, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0 );
  cursor: not-allowed;
}
