.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #00000073;
  position: absolute;
  z-index: 25;
  div {
    margin-bottom: 25px;
    text-align: center;
    h3,
    h4 {
      margin: 5px;
    }
  }
}

.hidden {
  display: none;
}
